.calculator {
    height:50vh;
    width:20%;
    background-color: green;
    
}

.button {
  height:5vh;
  width:5%;
  background-color: antiquewhite; 
}

.row {
display: flex;
flex-direction:row-reverse ;    
}